.about {
    background-color: hsl(219, 48%, 8%);
    min-height: 140vh;
    display: flex;
    padding-top: 15vmax;
   
  }
  
  .aboutContainer {
    background-color: rgb(255, 255, 255);
    width: 60%;
    height: 70vh;
    position: absolute;
    right: 0;
  
    display: flex;
    justify-content: right;
    padding: 2vmax;
    box-sizing: border-box;
  }
  
  .aboutContainer > p {
    text-align: right;
    letter-spacing: 2px;
    word-spacing: 4px;
    line-height: 50px;
    color: rgba(15, 15, 15, 0.822);
    font-size: 1.5vmax;
    width: 30%;
  }
  
  .aboutContainer2 {
    width: 70%;
    min-height: 80vh;
    background-color: white;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.281);
    position: absolute;
    top: 90px;
    left:-70px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    margin-top:15vmax;
    transform: translateX(-100vw) translateY(-10%) rotateZ(-360deg);
  
    animation: aboutAnimation 1s ease-in forwards;
  }
  .aboutContainer2 > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1vmax;
    color: rgba(17, 17, 17, 0.712);
    box-sizing: border-box;
  }
  .aboutContainer2 > div:first-child {
    align-items: center;
  }
  
  .aboutAvatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
    transition: all 1s;
  }
  
  .aboutAvatar:hover {
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.452);
  }
  
  @keyframes aboutAnimation {
    to {
      transform: translateX(20%) translateY(-10%);
    }
  }
  @keyframes aboutAnimationPhone {
    to {
      transform: translateX(0%) translateY(0%);
    }
  }
  @media screen and (max-width: 600px) {
    .about {
      align-items: center;
      /* padding-top: 100px; */
    }
    .aboutContainer {
      display: none;
    }
  
    .aboutContainer2 {
      width: 100%;
      position: absolute;
      top:5px;
      left:5px;
      /* margin-top:5px;
      padding-top:5px; */
      flex-direction: column;
      animation: aboutAnimationPhone 1s ease-in forwards;
      justify-items:flex-start;
    }
  
    .aboutContainer2 > div:last-child > p {
      text-align: center !important;
    }
  
    .aboutAvatar {
      width: 150px;
      height: 150px;
      margin-top: 20px;
    }
    
    .jl {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px; 
    }
    
    .kj {
      margin: 0; 
    }
    
    .aboutContainer2 > div:last-child > p {
      text-align: center !important;
      margin-top: 10px;
    }
    
    
  }